body {
    font-family: "Lato", sans-serif;
    color: $black-color;
}

.container {
    max-width: 100.00vw;
    margin: 0 auto;
    padding: 0 19.48vw;

    /* Mobile XS */
    @media (max-width: 599px) {
        padding: 0 2rem;
    }

    /* Mobile XS */
    @media (max-width: 425px) {
        padding: 0 1rem;
    }
}