//main colors
$white-color: #FFF;
$black-color: #000;

//section colors
$header-color: #10101D;
$main-color: #272733;
$footer-color-first: #231F20; 
$footer-color-second: #3D4050; 

//accent colors
$accent-color-first: #42A9ED;
$accent-color-second: #3E9CDC;
$accent-color-third: #286690;
$accent-color-fouth: #43ABF0;

//other color
$grey-color: #6F6D7B;
$grey-color-second: #2A2B30;
$grey-color-third: #BBBBBB;
$grey-color-fouth: #C4C4C4;
$grey-color-fifth: #C3C3C3;